@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Eliminar participación en la empresa";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4><i class="fas fa-exclamation-triangle text-warning"></i> @ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>¿Está seguro que desea eliminar sus datos y su cuenta?, esta información no puede ser recuperada.</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password">Contraseña.</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <div class="text-center">
            <button class="btn btn-warning w-75 m-3" type="submit">Borrar data y participación en la empresa  <i class="fas fa-user-times"></i></button>
        </div>
        
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}