@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Datos Personales";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Tu cuenta tiene datos personales que has suministrado a nuestro sistema. Por politicas de la empresa habilitamos el servicio de eliminar o descargar esta información.</p>
        <p>
            <strong>Eliminando esta información, eliminarás también tu cuenta de acceso al sistema y participación en la empresa, esta data no podrá ser recuperada.</strong>
        </p>
        <div class="pt-3">
            <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
                <button class="btn btn-primary w-100" type="submit">Descargar data</button>
            </form>
        </div>
        
        <p class="pt-3 text-center">
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-warning">Borrar cuenta</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
