@{
    ViewData["Title"] = "Home";
}

<br />
    <div class="text-center">
        <h1 class="display-4">Bienvenido a Disoft-Inventory</h1>
        <p class="mt-4">Pagina principal donde construiremos el Index y Dashboard del sistema</p>
    </div>

